##Task 6##

# Section (1)

In [28]:
# NumPy section
import numpy as np

In [29]:
# Create arrays
A = np.array([10, 20, 30, 40, 50])
B = np.array([5, 4, 3, 2, 1])

In [30]:
# Perform operations
sum_result = A + B
diff_result = A - B
prod_result = A * B
div_result = A / B

In [31]:
# NumPy functions
mean_A = A.mean()
max_A = A.max()
min_A = A.min()
dot_product = np.dot(A, B)
A_reshaped = A.reshape(5, 1)

In [32]:
print("A + B:", sum_result)
print("A - B:", diff_result)
print("A * B:", prod_result)
print("A / B:", div_result)

A + B: [15 24 33 42 51]
A - B: [ 5 16 27 38 49]
A * B: [50 80 90 80 50]
A / B: [ 2.  5. 10. 20. 50.]

In [33]:
print("Mean of A:", mean_A)
print("Max of A:", max_A)
print("Min of A:", min_A)

Mean of A: 30.0
Max of A: 50
Min of A: 10

In [34]:
print("Dot product of A and B:", dot_product)
print("Reshaped A (5x1):\n", A_reshaped)

Dot product of A and B: 350
Reshaped A (5x1):
 [[10]
 [20]
 [30]
 [40]
 [50]]

# Section (2)

In [35]:
# Pandas section
import pandas as pd

In [36]:
# Create DataFrame
students_data = pd.DataFrame({
    'Name': ['Ahmed', 'Mohamed', 'Sara', 'Mark', 'Aya'],
    'Age': [20, 22, 19, 21, 20],
    'Grade': ['A', 'B', 'A', 'C', 'B'],
    'Marks': [85, 78, 92, 65, 74]
})

In [37]:
# Access data
print("\nFirst 3 rows of the DataFrame:")
print(students_data.head(3))

First 3 rows of the DataFrame:
      Name  Age Grade  Marks
0    Ahmed   20     A     85
1  Mohamed   22     B     78
2     Sara   19     A     92

In [38]:
print("\nName and Marks columns:")
print(students_data[['Name', 'Marks']])

Name and Marks columns:
      Name  Marks
0    Ahmed     85
1  Mohamed     78
2     Sara     92
3     Mark     65
4      Aya     74

In [39]:
print("\nStudents with Grade 'A':")
print(students_data[students_data['Grade'] == 'A'])

Students with Grade 'A':
    Name  Age Grade  Marks
0  Ahmed   20     A     85
2   Sara   19     A     92